#mobile-men {
	background-image:url("stardust.png");
}
body {
	color: rgba(180,180,180,0.85);
	background-image:url("stardust.png");
}
#Big_Button
{
	color: rgba(180,180,180,0.85);
}
#head
{
	color: rgba(180,180,180,0.85);
}
#B_theme{
	color: rgba(180,180,180,0.85);
}
#L_theme{
	color: rgba(180,180,180,0.85);
}
tr:hover {
	background : rgba(100,100,100,0.2);
}
textarea{
	background : transparent;
}
select:hover {
	color: rgba(145, 205, 255, 1);
}
input[type=submit]:hover, input[type=button]:hover {
	color: rgba(145, 205, 255, 1);
}
#Big_Button:hover
{
	border:2px solid rgba(189,186,186,0.6);
	border-right : none;
	border-top : none;
	border-bottom : none;
}
@media (max-width: 850px)
{
	header {
		background : rgba(40,40,40,0.6);
	}
	footer {
		background: rgba(40,40,40,0.6);
	}
}
